# Ignore dataset
raer/
CAER/
CAER-S/
CAER_Video/
CKPlus_Dataset/
DAiSEE/
Student_FER_Dataset/

# Models
RAPT-CLIP-CAER-MODEL

# Annotations (generated)
daisee_annotations/
caer_annotations/
caer_video_annotations/

# Ignore training outputs / checkpoints / logs
debug_predictions/
debug_samples/
__pycache__/
*.pyc
.DS_Store
*.pth
*.log
analysis_report.txt
update_log.md

# Temporary Scripts
run_daisee.sh
debug_dataloader_*.py
train_daisee_local.sh